[user]
        email = adiyatmubarak@gmail.com
        name = Keda87
[code]
        editor = vim
[init]
        defaultBranch = main
[push]
        default = current
[branch]
        autoSetupRemote = true
